.header-container {
    background-color: #b990cc;
    min-height: 42px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
}

.left-box{
    margin-left: auto;
}

.header {
    width: 1280px;
    margin: auto;
    display: flex;
}

.ditto-logo{
    width: 46px;
    height: 46px;
    margin-right: 10px;
}

.header-logo{
    margin-left: 28px;
    display: flex;
}

.header-txt {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    /* width: 980px;
    margin: 0 auto;
    padding-top: 12px; */
    font-size: 48px;
    font-weight: bold;
}

.link-button-container {
    display: flex;
    margin-left: auto;
}

.link-button{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
    margin-top: 7px;
    color: black;
    background-color: transparent;
    margin-right: 10px;
    font-weight: bold;
}

.logout-btn:hover, .buy-shares:hover, .portfolio:hover, .transactions:hover{
    background-color: white;
}

.logout-btn, .bs-comp{
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
    padding-top: 8px;
    margin-top: 7px;
    background-color: transparent;
    margin-bottom: 8px;
    margin-right: 28px;
}

.bs-comp{
    margin-right: 10px;
}

.on-site{
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
    padding-top: 8px;
    margin-top: 7px;
    background-color: white;
    margin-bottom: 8px;
    margin-right: 10px;
}

