.portfolio-container {
    padding-left: 28px;
    margin: 0 auto;
    margin-top: 48px;
}

.portfolio-header{
    padding-bottom: 10px;
}

.stock-container-ul {
    display: block;   
    height: 90%;
    width: 600px;
    overflow-y: auto;
}

.stock-list {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #b990cc;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 0 20px 0 20px; 
}

.stock-ticker, .shares-text-container {
    display: flex;
}


.stock-hyphen{
    margin-left: 5px;
    margin-right: 5px;
}

.stock-shares-div-container {
    margin-top: 20px;
}

.shares-text-container{
    margin-top: 5px;
}

.price-open-current-container {
    margin-top: 30px;
}

.open-price-text-container, .current-price-text-container{
    display:flex;
}
.open-price-text-container {
    margin-bottom: 5px;
}

.green {
    color: green
}
.gray {
    color: gray;
}

.red {
    color: red;
}

.links-container {
    display: flex;
    margin-right: 25px;
    min-width: 400px;
}
.tabs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.user-welcome {
    display: flex;
    margin-bottom: 10px;
}

.straight-line {
    margin-left: 5px;
    margin-right: 5px;
}



.logout-btn {
    cursor: pointer;
}

.error-handling {
    align-items: center
}



